<div class="nav">
    <div class="nav-inner-container">
        <div class="logo">
            <h4>Placement Adda</h4>
        </div>
        <% if(!locals.user){ %>
        <div class="nav-login">
            <a href="/authentication"><button class="nav-login-btn">Login</button></a>
        </div>
        <% } else { %>
        <div class="nav-login">
            <a href="/user/sign-out"><button class="nav-login-btn">Logout</button></a>
        </div>
        <% } %>
    </div>
</div>