* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #ebf2fd;    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /* font-family: 'Segoe UI Regular'; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

.dashboard-main-container {
    width: 93%;
    height: 90%;
    display: grid;
    grid-template-columns: 0.7fr 3.5fr 1.5fr;
    place-items: center;
    gap: 2.5rem;
}

.aside-navbar-links {
    width: 100%;
    height: 93%;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.aside-navbar-links-ul {
    width: 80%;
}

.aside-navbar-links-ul li {
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    font-size: 0.8rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    gap: 0.6rem;
}

.aside-navbar-links-ul li:hover {
    background-color: #ebf2fd;
    cursor: pointer;
}

.theme {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.8rem;
    font-weight: 600;
    background-color: #ebf2fd;
    padding: 10px 20px;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.theme:hover {
    background-color: #e0e7fd;
}

.dashboard-container {
    width: 100%;
    height: 93%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2rem;
}

.students-interviews-container {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: flex-start;
    gap: 1rem;

}

.companies-and-other-container {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.students-container {
    width: 25%;
    height: 100%;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.students-container img {
    width: 50%;
    height: 50%;
    object-fit: contain;
    border-radius: 30px;
}

.interviews-container {
    width: 25%;
    height: 100%;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.interviews-container img {
    width: 50%;
    height: 50%;
    object-fit: contain;
    border-radius: 30px;
}

.companies-container {
    width: 25%;
    height: 100%;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.companies-container img {
    width: 50%;
    height: 50%;
    object-fit: contain;
    border-radius: 30px;
}

.right-aside-container {
    width: 100%;
    height: 93%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
}

.reminder-container {
    width: 100%;
    height: 40%;
    background-color: #e0e7fd;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.students-main-container {
    width: 100%;
    height: 93%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2rem;
    display: none;
}

.interviews-main-container {
    width: 100%;
    height: 93%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2rem;
    display: none;
}



.user-more-info-container {
    width: 400px;
    height: 700px;
    padding: 30px;
    background-color: beige;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user-more-info-container form {
    display: flex;
    flex-direction: column;
}

.profile-container {
    position: absolute;
}

.display-container {
    display: flex;
    gap: 2rem;
}

.active-interview-container {
    width: 70%;
    height: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.active-interview-container img {
    width: 100%;
    height: 50%;
    object-fit: contain;
    border-radius: 20px;
}

.applied-container {
    width: 25%;
    height: 100%;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.applied-container img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 20px;
}

.job-details {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    font-size: 0.8rem;
}

.job-details :nth-child(1) {
    font-size: 1rem;
    font-weight: 600;
}

.job-details :nth-child(1) span {
    font-size: 0.7rem;
}

.no-found {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.no-found img {
    width: 40%;
    height: 40%;
}

.students-display-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;
}

.students-display-container::-webkit-scrollbar {
    display: none;
}

.students-details-container {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.students-inner-container {
    width: 85%;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #e0e7fd;
    display: grid;
    place-items: center start;
    grid-template-columns: 0.2fr 0.7fr 0.7fr 0.3fr;
    font-size: 0.8rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.students-inner-container img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.student-more-info-btn {
    width: 100px;
    height: 70%;
    border-radius: 15px;
    background-color: #43bdd3;
    border: none;
    cursor: pointer;
    font-size: 0.7rem;
}

.student-more-info-container {
    width: 50%;
    height: 70%;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

/* interview */

.interview-form-container {
    width: 24%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: none;
}

.interview-form-container form {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.display-interview-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;
}

.display-interview-container::-webkit-scrollbar {
    display: none;
}

.active-interview-container {
    width: 70%;
    height: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: grid;
    place-items: center start;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.interview-details {
    display: flex;
    gap: 0.5rem;
}

.interview-company-img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.interview-action-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-btn {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #43bdd3;
    border: none;
    cursor: pointer;
    font-size: 0.7rem;
    transition: all 0.3s ease-in-out;
}

/* jobs */

.search-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-container input {
    width: 25%;
    height: 40px;
    border-radius: 15px;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.company-add-btn {
    width: 100px;
    height: 40px;
    border-radius: 15px;
    background-color: #43bdd3;
    border: none;
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    letter-spacing: 1px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.jobs-main-container {
    width: 100%;
    height: 93%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    display: none;
}

.heading {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between  ;
    align-items: center;
    gap: 1rem;
}

.search-add-container {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
}

.active-jobs-container {
    width: 100%;
    height: auto;
    /* display: flex;
    flex-wrap: wrap;
    gap: 1rem; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: start center;
    gap: 1rem;
    overflow: hidden;
    overflow-y: scroll;
}

.active-jobs-container::-webkit-scrollbar {
    display: none;
}

.active-jobs {
    width: 200px;
    height: 250px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.active-jobs img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 20px;
}

.company-add-form {
    width: 25%;
    height: 55%;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: none;
}

.company-add-form form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: start;
    align-items: center;
    overflow-y: scroll;
}

.company-add-form form::-webkit-scrollbar {
    display: none;
}

.company-more-info-container {
    width: 50%;
    height: 70%;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}



.company-more-info {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
}

.company-more-info::-webkit-scrollbar {
    display: none;
}

.company-more-info-company-description {
    text-align: justify;
}

.company-more-info-middle-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.9rem;
}

.company-more-info-text {
    font-size: 0.9rem;
}

.company-more-info-text :nth-child(1) {
    margin-bottom: 10px;
}

.company-more-info-name {
    font-size: 1.2rem;
    font-weight: 600;
}

.company-more-info-location {
    font-size: 0.7rem;
    font-weight: 600;
}

.company-delete-button {
    width: 150px;
    height: 50px;
    border-radius: 15px;
    background-color: #ff4d4d;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
    margin: 0 auto;
    color: white;
}

.company-delete-button:hover {
    background-color: #ff3f3f;
}

.container-close-btn {
    position: absolute;
    top: 10px;
    right: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
}

.company-more-info-img img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
    overflow: hidden;
}

/* notification container */

.notification-container {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px 0px;
    gap: 1rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.active-applied-container {
    width: 90%;
    height: 80px;
    border-radius: 20px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    padding: 20px;
    grid-template-columns: 3fr 2fr 1fr;
    gap: 0.5rem;
    place-items: center start;
    background-color: #ebf2fd;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.active-applied-container:hover {
    background-color: #d6ddf3;
    transform: translateY(-3px);
}

.applied-details {
    display: flex;
    gap: 0.5rem;
}

.applied-company-img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.applied-action-buttons {
    display: flex;
    gap: 0.5rem;
}

.accept-btn {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #36ca67;
    border: none;
    cursor: pointer;
    font-size: 0.7rem;
    transition: all 0.3s ease-in-out;
}

.accept-btn:hover {
    background-color: #2fb75a;
}

.reject-btn {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #ff4d4d;
    border: none;
    cursor: pointer;
    font-size: 0.7rem;
    transition: all 0.3s ease-in-out;
}

.reject-btn:hover {
    background-color: #ff3f3f;
}

/* application */

.application-main-container {
    width: 100%;
    height: 93%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    display: none;
}

.display-application-container-pending {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;
}

.display-application-container-pending::-webkit-scrollbar {
    display: none;
}

.display-application-container-accepted {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;
    display: none;
}

.display-application-container-accepted::-webkit-scrollbar {
    display: none;
}

.display-application-container-rejected {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;
    display: none;
}

.display-application-container-rejected .active-application-container {
    width: 40%;
    height: auto;
    border-radius: 30px;
    display: grid;
    padding: 20px 30px;
    grid-template-columns: 3fr 2fr;
    gap: 0.5rem;
    place-items: center start;
    background-color: #e0e7fd;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}

.display-application-container-rejected::-webkit-scrollbar {
    display: none;
}

.application-interview-form-container {
    width: 20%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: none;
}

.application-interview-form-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.application-interview-form-container form .input-container select {
    width: 90%;
    height: 100%;
    border-radius: 12px;
    border: none;
    outline: none;
    padding: 13px 20px;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #ebf2fd;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.application-interview-form-container form button {
    width: 100px;
    height: 40px;
    border-radius: 15px;
    background-color: #43bdd3;
    border: none;
    cursor: pointer;
    font-size: 0.7rem;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
    margin: 0 auto;
    color: white;
}

.active-application-container {
    width: 60%;
    height: auto;
    border-radius: 30px;
    display: grid;
    padding: 20px 30px;
    grid-template-columns: 3fr 2fr 1fr;
    gap: 0.5rem;
    place-items: center start;
    background-color: #e0e7fd;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.application-details {
    display: flex;
    gap: 0.5rem;
}

.application-company-img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.buttons {
    display: flex;
    gap: 0.5rem;
}

.pending-btn {
    width: 90px;
    height: 35px;
    border-radius: 12px;
    background-color: #e0e7fd;
    border: none;
    cursor: pointer;
    font-size: 0.7rem;
    transition: all 0.3s ease-in-out;
    letter-spacing: 1px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.accepted-btn {
    width: 90px;
    height: 35px;
    border-radius: 12px;
    background-color: #ebf2fd;
    border: none;
    cursor: pointer;
    font-size: 0.7rem;
    transition: all 0.3s ease-in-out;
    letter-spacing: 1px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.rejected-btn {
    width: 90px;
    height: 35px;
    border-radius: 12px;
    background-color: #ebf2fd;
    border: none;
    cursor: pointer;
    font-size: 0.7rem;
    transition: all 0.3s ease-in-out;
    letter-spacing: 1px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-heading {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.input-container {
    width: 85%;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    /* flex-direction: column; */
    border: 1px solid #cfd7e6;
    background-color: #ebf2fd;
    border-radius: 10px;
    padding: 10px;
}

.input-container label {
    width: 30%;
}

.input-container span {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 1.5rem;
}

.input-container input {
    width: 100%;
    height: 100%;
    /* border-radius: 12px; */
    border: none;
    outline: none;
    /* padding: 13px 20px; */
    font-size: 0.8rem;
    /* font-weight: 600; */
    letter-spacing: 1px;
    /* border: 1px solid #cfd7e6;
    background-color: #ebf2fd; */
    background-color: #ebf2fd;
}

.input-container textarea {
    width: 100%;
    height: 100%;
    /* border-radius: 12px; */
    border: none;
    outline: none;
    /* padding: 10px 20px; */
    /* padding: 10px; */
    font-size: 0.8rem;
    /* font-weight: 600; */
    letter-spacing: 1px;
    resize: none;
    /* border: 1px solid #cfd7e6;
    background-color: #ebf2fd; */
    background-color: #ebf2fd;
}

.input-container textarea::-webkit-scrollbar {
    display: none;
}

.input-container select {
    width: 90%;
    height: 100%;
    border-radius: 12px;
    border: none;
    outline: none;
    padding: 13px 20px;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #ebf2fd;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.input-container input[type="file"] {
    width: 90%;
    height: 100%;
    border-radius: 12px;
    border: none;
    outline: none;
    padding: 13px 20px;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #ebf2fd;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.submit-btn {
    width: 85%;
    display: flex;
    justify-content: end;
}

.submit-btn button {
    width: 100px;
    height: 40px;
    border-radius: 15px;
    background-color: #43bdd3;
    border: none;
    cursor: pointer;
    font-size: 0.7rem;
    transition: all 0.3s ease-in-out;
    letter-spacing: 1px;
}

.application-assign-btn {
    width: 120px;
    height: 40px;
    border-radius: 15px;
    background-color: #43bdd3;
    border: none;
    cursor: pointer;
    font-size: 0.7rem;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}