* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #ebf2fd;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI Regular';
    overflow: hidden;
}

.dashboard-main-container {
    width: 93%;
    height: 90%;
    display: grid;
    grid-template-columns: 0.7fr 3.5fr 1.5fr;
    place-items: center;
    gap: 2.5rem;
}

.aside-navbar-links {
    width: 100%;
    height: 93%;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.aside-navbar-links-ul {
    width: 80%;
}

.aside-navbar-links-ul li {
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    font-size: 0.8rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    gap: 0.6rem;
    /* background-color: #ebf2fd; */
}

.aside-navbar-links-ul li:hover {
    background-color: #ebf2fd;
    cursor: pointer;
}

/* .dashboard-li {
    background-color: #ebf2fd;
} */

.theme {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.8rem;
    font-weight: 600;
    background-color: #ebf2fd;
    padding: 10px 20px;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.theme:hover {
    background-color: #e0e7fd;
}

.main-container {
    width: 100%;
    height: 93%;
    /* background-color: #fff; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    /* padding: 30px 0; */
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    gap: 2rem;
}

.students-interviews-container {
    width: 100%;
    height: 25%;
    /* background-color: #fff; */
    display: flex;
    align-items: flex-start;
    gap: 1rem;

}

.companies-and-other-container {
    width: 100%;
    height: 25%;
    /* background-color: #fff; */
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.students-container {
    width: 25%;
    height: 100%;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interviews-container {
    width: 25%;
    height: 100%;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.companies-container {
    width: 25%;
    height: 100%;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-aside-container {
    width: 100%;
    height: 93%;
}

.reminder-container {
    width: 100%;
    height: 40%;
    background-color: #e0e7fd;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}